@model EmployeeNavigatorOverviewViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
    string header = "Employee Navigator Overview";
    string paragraph = "Employee Navigator’s primary users are insurance brokers and their customers.  Insurance brokers license Employee Navigator and provide system access to their customers (“Companies” in Employee Navigator), who are primarily HR professionals.  A single insurance broker may be responsible for hundreds of Companies within Employee Navigator.  A single Company in Employee Navigator may include multiple Tax Ids.  A single Company may also include multiple Payroll Groups, such as weekly and bi-weekly pay periods.  Payroll Groups within a single Company may have the same or different Tax Id, but a Payroll Group itself may have only one Tax Id assigned to it.";
}

<h1>@header</h1>
<p>@paragraph</p>