@model apiTestingExpectationsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
    string header = "API Testing Expectations";
    string sectionHeader = "Initial Testing Starts with Payroll ";
    string paragraph = "Testing scenarios will be supplied to the Payroll Partner by Employee Navigator. The Payroll Partner will walk through each scenario in Employee Navigator’s UI and confirm that the integration is working as expected. The scenarios and results will be sent back to Employee Navigator to review and confirm functionality.  ";
}

<h1>@header</h1>
<h3>@sectionHeader</h3>
<p>@paragraph</p>